@charset "utf-8";

footer {
    width: 100%;
    height: 130px;
    background-color: #131313;
    text-align: center;
}

footer p {
    line-height: 130px;
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}




@media (max-width: 900px) {


footer {
    width: 100%;
    height: 100px;
    background-color: #131313;
    text-align: center;
}

footer p {
    line-height: 100px;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

}


















