@charset "utf-8";




.info {
    width: 100%;
    max-width: 1060px;

    margin: 0 auto;
    text-align: center;

    margin-bottom: 120px;
}

.info img {
    display: inline-block;
    width: 50px;

    margin-bottom: 30px;
}


.info .top {
    font-family: 'Pretendard';
    font-size: 27px;
    font-weight: 500;

    color: rgb(0, 0, 0);

    margin-bottom: 40px;
}

.info p span {
    font-family: 'Pretendard';
    font-weight: 700;

    color: #7A33F3;
}

.info .bottom p {
    font-family: 'Pretendard';
    font-size: 25px;
    font-weight: 600;

    color: rgb(48, 48, 48);

    margin-bottom: 15px;
}


.tool {
    width: 100%;
    max-width: 1060px;

    margin: 0 auto;

    text-align: center;
    margin-bottom: 150px;
}

.tool p {
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;

    color: rgb(65, 65, 65);
    margin-bottom: 30px;
}


.tool ul li {
    display: inline-block;
}

.tool ul li img {
    width: 100px;
}





/* Top 버튼 스타일 */
.scroll-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
    
    /* 기본적으로 숨김 처리 */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.scroll-top.show {
    opacity: 1;
    visibility: visible;
}

.scroll-top img {
    width: 50px; /* 이미지 크기 조절 */
}

.scroll-top:hover {
    transform: translateY(-5px); /* 호버 시 살짝 위로 이동 */
}







@media (max-width: 900px) {

.info {
    margin-bottom: 100px;
}

.info img {
    width: 30px;
}

.info h2 {
    font-size: 17px;
}

.info .top {

    font-size: 17px;
}

.info .bottom p {
    font-size: 16px;
}


.tool p {
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 600;

    color: rgb(65, 65, 65);
    margin-bottom: 30px;
}


.tool ul li img {
    width: 63px;
}



/* Top 버튼 스타일 */
.scroll-top {
    bottom: 150px;
}

}




