@charset "utf-8";

footer {
    width: 100%;
    height: 150px;
    background-color: #131313;
    text-align: center;
}

footer p {
    line-height: 150px;
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}























