@charset "utf-8";


.menu {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.menu ul li {
    display: inline-block;
    margin-right: 15px;

    font-family: 'Pretendard';
    font-size: 22px;
    font-weight: 600;

    border: 2px solid black;

  
    border-radius: 50px;
}

.menu ul li a {
  padding: 15px 40px;
  display: block;
}

.menu ul li.active {
    background-color: #eb5794;
    color: #fff;
    border: 2px solid #eb5794;
}

.menu ul li:hover {
    background-color: #eb5794;
    color: #fff;
    border: 2px solid #eb5794;
}



.subtitle {
    /* margin-top: 150px; */
    text-align: left;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    margin-bottom: 150px;
}

.subtitle .top ul {
    display: flex;
    /* 자식 요소들을 flex 아이템으로 만듦 */
    align-items: center;
    /* 수직 중앙 정렬 */
}

.subtitle .top div {
    height: 36px;
    width: 10px;
    background-color: #ccc;

}

.subtitle .top ul li h2 {
    font-family: 'Pretendard';
    font-size: 36px;
    margin-left: 20px;

}

.subtitle .info {
    margin-top: 30px;
    width: 300px;
    padding: 15px;
    color: #000;
    margin-bottom: 25px;
}

.subtitle .info ul li {
    display: inline-block;
    line-height: 30px;
}



.subtitle .info ul li h2 {
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
    margin-right: 15px;
}

.subtitle .info ul li p {
    font-family: 'Pretendard';
    font-size: 19px;
    font-weight: 400;
}

.subtitle .info .join h2 {
    letter-spacing: 9px;
    margin-right: 3px;
}


.subtitle .info ul li p span {
    background-color: #ffbbff;
    padding: 3px;
    margin-left: 2px;
    color: #fff;
}

.subtitle {
    position: relative;
}

.subtitle .tool {
    position: absolute;
    left: 5px;
    top: 245px;
}

.subtitle .tool ul li {
    display: inline-block;
}

.subtitle .tool img {
    width: 60px;
}




.subtitle .tool ul li {
    display: inline-block;
}

.subtitle .tool img {
    width: 60px;
}

.subtitle .info .join h2 {
    letter-spacing: 9px;
    margin-right: 3px;
}





.con {
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;
}

.con .contitle {
    text-align: center;
    margin-bottom: 100px;
}

.con .contitle img {
    width: 250px;
}

.con .contitle h2 {
    font-family: 'KccEunyeong';
    font-size: 65px;

    color: rgb(49, 49, 49);
}

.con .contitle h2 span {
    font-size: 90px;

    color: rgb(129, 81, 173);
}

.con .over {
    text-align: center;
    margin-bottom: 40px;
}

.con .over h2 {
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.con .over p {
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    color: rgb(78, 78, 78);
}

.con .over p span {
    color: #eb5794;
    font-weight: bold;
}






.con .gallery {
    margin: 0 auto;
    width: 1400px;

    text-align: center;
    margin-bottom: 150px;
}

.con .gallery ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.con .gallery img {
    width: 690px;
}






/* Top 버튼 스타일 */
.scroll-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
    
    /* 기본적으로 숨김 처리 */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.scroll-top.show {
    opacity: 1;
    visibility: visible;
}

.scroll-top img {
    width: 50px; /* 이미지 크기 조절 */
}

.scroll-top:hover {
    transform: translateY(-5px); /* 호버 시 살짝 위로 이동 */
}






