@charset "utf-8";

.menu {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.menu ul li {
    display: inline-block;
    margin-right: 15px;

    font-family: 'Pretendard';
    font-size: 22px;
    font-weight: 600;

    border: 2px solid black;


    border-radius: 50px;
}

.menu ul li a {
    padding: 15px 40px;
    display: block;
}

.menu ul li.active {
    background-color: #7A33F3;
    color: #fff;
    border: 2px solid #7A33F3;
}

.menu ul li:hover {
    background-color: #7A33F3;
    color: #fff;
    border: 2px solid #7A33F3;
}







