@charset "utf-8";


.menu {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.menu ul li {
    display: inline-block;
    margin-right: 15px;

    font-family: 'Pretendard';
    font-size: 22px;
    font-weight: 600;

    border: 2px solid black;

 
    border-radius: 50px;
}

.menu ul li a {
  padding: 15px 40px;
  display: block;
}

.menu ul li.active {
    background-color: #966657;
    color: #fff;
    border: 2px solid #966657;
}

.menu ul li:hover {
    background-color: #966657;
    color: #fff;
    border: 2px solid #966657;
}





.subtitle {
    /* margin-top: 150px; */
    text-align: left;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    margin-bottom: 100px;
}

.subtitle .top ul {
    display: flex;
    /* 자식 요소들을 flex 아이템으로 만듦 */
    align-items: center;
    /* 수직 중앙 정렬 */
}

.subtitle .top div {
    height: 40px;
    width: 10px;
    background-color: #ccc;

}

.subtitle .top ul li h2 {
    font-family: 'Pretendard';
    font-size: 40px;
    margin-left: 20px;

}

.subtitle .info {
    margin-top: 50px;
    padding: 15px;
    color: #000;
    margin-bottom: 25px;
}

.subtitle .info ul li {
    display: inline-block;
    line-height: 30px;
}



.subtitle .info ul li h2 {
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
    margin-right: 15px;
}

.subtitle .info ul li p {
    font-family: 'Pretendard';
    font-size: 19px;
    font-weight: 400;
}

.subtitle .info .join h2 {
    letter-spacing: 9px;
    margin-right: 3px;
}


.subtitle .info ul li p span {
    background-color: #966657;
    padding: 3px;
    margin-left: 2px;
}

.subtitle {
    position: relative;
}

.subtitle .tool {
    position: absolute;
    left: 5px;
    top: 255px;
}

.subtitle .tool ul li {
    display: inline-block;
}

.subtitle .tool img {
    width: 60px;
}






.con {
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;
}

.con .over {
    text-align: center;
    margin-bottom: 100px;
}

.con .over h2 {
    font-family: 'Pretendard';
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

.con .over p {
    font-family: 'Pretendard';
    font-size: 21px;
    font-weight: 500;
    line-height: 35px;
    color: rgb(78, 78, 78);
}

.con .gallery  {
    margin-bottom: 150px;
}

.con .gallery ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.con .gallery ul li img {
    width: 660px;
    box-shadow: 5px 5px 5px #ccc;
}



