@charset "utf-8";

.menu {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.menu ul li {
    display: inline-block;
    margin-right: 15px;

    font-family: 'Pretendard';
    font-size: 22px;
    font-weight: 600;

    border: 2px solid black;

    padding: 15px 40px;
    border-radius: 50px;
}

.menu ul li.active {
    background-color: #7A33F3;
    color: #fff;
    border: 2px solid #7A33F3;
}

.menu ul li:hover {
    background-color: #7A33F3;
    color: #fff;
    border: 2px solid #7A33F3;
}




/* 반응형 디자인 */

/* 태블릿 (768px ~ 1024px) */

@media (max-width: 900px) {
html, body {
    width: 100%;
    overflow-x: hidden; /* 가로축으로 넘치는 내용은 숨김 */
}

.menu {
 margin-bottom: 60px;

}

.menu ul {
      display: flex;        /* flex 레이아웃 활성화 */
        flex-wrap: wrap;      /* 자리가 부족하면 다음 줄로 넘김 */
        justify-content: center; /* 가로 중앙 정렬 */
        gap:10px;            /* 버튼 사이 간격 (상하좌우 동일) */
        padding: 0;           /* 기본 패딩 제거 */
    }

.menu ul li {
  /* 2개씩 배치하기 위해 너비 조정 (gap을 고려하여 50%보다 약간 작게) */
       width: calc(40% - 30px); 
        margin-right: 0;      /* 기존 마진 제거 */
        box-sizing: border-box;
        display: block;       /* 너비 적용을 위해 블록화 */
}

.menu ul li a {
    padding: 10px 15px;
    text-align: center;
        font-size: 16px;      /* 모바일에 적합한 폰트 크기 */
    
        display: block;
}
}



