@charset "utf-8";

header div {
    width: 100%;
    height: 80px;
    background-color: #131313;
    margin-bottom: 150px;
}

.title {
    width: 100%;
    max-width: 1060px;

    margin: 0 auto;
    text-align: center;
}

.title h2 {
    font-family: 'Pretendard';
    font-size: 3.9rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.title h3 {
    font-family: 'Pretendard';
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 60px;
    margin-bottom: 60px;

    border-bottom: 2px solid rgb(165, 165, 165);
}

.gnb {
    width: 100%;
    max-width: 1060px;
    text-align: center;

    margin: 0 auto;

    margin-bottom: 70px;
}


.gnb ul li {
    font-family: 'Pretendard';
    font-size: 35px;
    font-weight: 500;

    color: rgb(126, 126, 126);

    margin-right: 60px;
    display: inline-block;
}

.gnb ul li:last-child {
    margin: 0;
}

.gnb ul li.active {
    color: black;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 5px solid #97b88b;
}


.gnb ul li:hover {
    color: black;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 5px solid #97b88b;
}























