@charset "utf-8";

header div {
    width: 100%;
    height: 80px;
    background-color: #282828;
    margin-bottom: 100px;
}

.title {
    width: 100%;
    max-width: 1060px;

    margin: 0 auto;
    text-align: center;
}

.title h2 {
    font-family: 'Pretendard';
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.title h3 {
    font-family: 'Pretendard';
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 40px;
    margin-bottom: 40px;

    border-bottom: 2px solid rgb(165, 165, 165);
}

.gnb {
    width: 100%;
    max-width: 1060px;
    text-align: center;

    margin: 0 auto;

    margin-bottom: 60px;
}


.gnb ul li {
    font-family: 'Pretendard';
    font-size: 28px;
    font-weight: 500;

    color: rgb(126, 126, 126);

    margin-right: 40px;
    display: inline-block;
}

.gnb ul li:last-child {
    margin: 0;
}

.gnb ul li.active {
    color: black;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 5px solid #f7b72d;
}


.gnb ul li:hover {
    color: black;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 5px solid #f7b72d;
}











/* 반응형 디자인 */

/* 태블릿 (768px ~ 1024px) */

@media (max-width: 900px) {


.title {
    width: 100%;
    max-width: 460px;

    margin: 0 auto;
    text-align: center;
}

.title h2 {
    font-family: 'Pretendard';
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.title h3 {
    font-family: 'Pretendard';
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 40px;
    margin-bottom: 40px;

    border-bottom: 2px solid rgb(165, 165, 165);
}

.gnb {
    width: 100%;
    max-width: 1060px;
    text-align: center;

    margin: 0 auto;

    margin-bottom: 50px;
}


.gnb ul li {
    font-family: 'Pretendard';
    font-size: 22px;
    font-weight: 500;

    color: rgb(126, 126, 126);

    margin-right: 18px;
    display: inline-block;
}

.gnb ul li:last-child {
    margin: 0;
}

.gnb ul li.active {
    color: black;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 5px solid #f7b72d;
}


.gnb ul li:hover {
    color: black;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 5px solid #f7b72d;
}


}













