@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

















